<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
        <th:block th:fragment="content">
            <h1 class="mt-4">Register Page</h1>
            <form th:action="@{/admin/ItemList/register}" th:method="post">
                <div class="form-group">
                    <label>ItemName:</label>
                    <input type="text" name="ItemName" placeholder="Enter ItemName" class="form-control">
                </div>
                <div class="form-group">
                    <label>Color:</label>
                    <input type="text" name="Color" placeholder="Enter Color" class="form-control">
                </div>
                <div class="form-group">
                    <label>colorName:</label>
                    <input type="text" name="colorName" placeholder="Enter colorName" class="form-control">
                </div>
                <div class="form-group">
                    <label>ItemType:</label>
                    <select name="itemTypeId" class="form-control">
                        <option value="">Select ItemType</option>
                        <option th:each="itemType : ${itemTypeDTOList}"
                                th:value="${itemType.id}"
                                th:text="${itemType.typeName}"> <!-- name 필드는 실제 ItemType의 이름 속성으로 변경 -->
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Company:</label>
                    <select name="companyId" class="form-control">
                        <option value="">Select Company</option>
                        <option th:each="company : ${companyDTOList}"
                                th:value="${company.id}"
                                th:text="${company.name}"> <!-- name 필드는 실제 Company의 이름 속성으로 변경 -->
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Link:</label>
                    <input type="text" name="Link" placeholder="Enter Link" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary form-group">Register</button>
            </form>
        </th:block>
    </th:block>
</html>