<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이템 관리</title>
</head>
<body>
<h1>아이템 관리</h1>
<a th:href="@{/admin/items/create}">새 아이템 추가</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>색상</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.color}"></td>
        <td>
            <a th:href="@{'/admin/items/edit/' + ${item.id}}">수정</a>
        </td>
        <td>
            <form th:action="@{'/admin/items/delete/' + ${item.id}}" method="post">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
